@import 'media';

$color-light-green: #72f7b1;
$color-green: #73AD21;

div#container {
	float: left;
	width: 40%;
	height: 100%;
	padding: 20px;
	margin: auto;
	margin-left: 30%;
	margin-top: 2%;
    border: 3px solid $color-green;
}

div#row {	
	height: 50px;
}

input#todoInput {
	width: 95%;
	margin: 0;
	margin-left: 2%;
	font-size: 20px;
}

i.material-icons {
	position: relative;
	float: right;
	margin: 1.5%;
	color: red;
	transform: scale(1.5);
}

ul#todoUl {
	width: 100%;
	padding: 5%;
	display: none;
	margin: 0;
	text-align: left;
}

ul#todoUl li {
	display: block;
	width: 100%;
	height: 50px;
	margin-bottom: 3%;
	border: 3px solid #90A4AE;
}

ul#todoUl input {
    position: relative;
    float: right;
    margin: 1.5%;
    margin-right: 1%;
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

p.item_p {
    position: relative;
    float: left;
    margin: 1.5%;
    font-size: 22px;
    white-space: pre;
}

@supports (zoom:2) {
  input.filled-in {
	zoom: 2;
	}
}

div#itemBloks {
	width: 100%;
	height: auto;
}

ul#items {
	width: 100%;
}

#items li {
	float: left;
	display: block;
	width: 15%;
	margin-left: 8%;
	text-align: center;
}

#allItem button, #completeItem button, #activeItem button {
	width: 100%;
	padding: 0;
	text-align: center;
}

#countItem {
	height: 36px;
	background-color: #26a69a;
	color: #fff;
	font-size: 17px;
}
 
#countItem span {
	position: relative;
	top: 10%;
	float: left;
	width: auto;
	text-align: left;
}


